<h1>Returning User</h1>

<form action="<%= session_url %>" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="user[username]">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" id="password" name="user[password]">
  </div>

  <div>
    <input type="submit" value="Log In">
  </div>
</form>

