<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to 99Cats</title>
  </head>
  <body>
    <h1>Welcome to 99Cats</h1>
    <p>Your username is <%= @user.username %></p>
    <a href="<%= @url %>">Browse all cats</a>
  </body>
</html>
